.image-container {
    
    height: 15rem;
    background-image: url(/images/illustration-dashboard.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-bottom: 6rem;
}
@media (min-width: 600px) {
    .image-container {
        height: 20rem;
        margin-bottom: 1rem;
    }
}